.close-modal {
  display: flex;
  justify-content: end;
}

.close-modal button {
  border: none;
  background-color: #11ffee00;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form label {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
form input {
  margin-bottom: 8px;
  border-radius: 3px;
  border: none;
  height: 1.5rem;
}
form button {
  width: 6rem;
  background: #059862;
  color: white;
  border-radius: 5px;
  border: none;
  height: 2.3rem;
  margin-top: 20px;
}
